argcomplete
beautifulsoup4
blinker
boto
boto3
botocore
certifi
cffi
chardet
charset-normalizer
click
colorama
colorclass
compressed_rtf
contourpy
cryptography
cycler
decorator
docutils
docx2txt
easygui
ebcdic
EbookLib
extract-msg
fanstatic
Flask
Flask-WTF
fonttools
gensim
idna
IMAPClient
itsdangerous
Jinja2
jmespath
joblib
kiwisolver
lark
lxml
MarkupSafe
matplotlib
msoffcrypto-tool
mypy
mypy-extensions
networkx
nltk
numpy
numpy_typing
olefile
oletools
packaging
pandas
pcodedmp
pdfminer.six
pillow
pycparser
pycryptodome
pyparsing
PyPDF2
pyspellchecker
python-dateutil
python-docx
python-dotenv
python-pptx
pytz
red-black-tree-mod
regex
requests
RTFDE
s3transfer
scikit-learn
scipy
setuptools
shutilwhich
six
smart-open
sortedcontainers
soupsieve
textract
threadpoolctl
tqdm
typing_extensions
tzdata
tzlocal
urllib3
WebOb
Werkzeug
win_unicode_console
wrapt
WTForms
xlrd
XlsxWriter
